body {
    padding-top: 60px;  /* Height of navbar */
    padding-bottom: 60px;  /* Height of footer */
    min-height: 100vh;
    position: relative;
}

.main-content {
    padding: 20px;
}

.footer {
    padding: 1rem;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
}
